/*==============================
    Bootstrap Media Queries        
==============================*/


/* Large Devices (Desktops & Laptops) */

@media (min-width: 1200px) and (max-width: 1299px) {

    /*login page*/
    #login-top-logo {
        margin-top: 20%;
    }

    #forgot-password #fp-top-logo {
        margin-top: 35%;
    }

    #change-password-top-logo {
        margin-top: 15%;
    }

    #signup-top-logo {
        margin-top: 10%;
    }

    #signup-box-white {
        padding: 30px;
    }

    /* Home page */
    #img-overlay #overlay-content {
        position: absolute;
        top: 130px;
        left: 130px;
    }

    /* FAQ page */
    #faq-top-img img,
    #contactus-top-img img {
        width: 100%;
        height: 200px;
        margin-top: 76px;
    }
}


/* Medium Devices (Landscape Tablets & Medium Desktops) */

@media (min-width: 992px) and (max-width: 1199px) {

    /*login page*/
    #login-top-logo {
        margin-top: 20%;
    }

    #login-box-white,
    #fp-box-white {
        padding: 40px;
    }

    #forgot-password #fp-top-logo {
        margin-top: 35%;
    }

    #change-password-top-logo {
        margin-top: 15%;
    }

    #signup-box-white {
        padding: 20px;
    }

    #navbarmenu ul > li > a {
        font-size: 12px;
    }

    /* Use Profile */
    .userprofile-profile-form .form-group > select.form-control,
    .userprofile-address-form .form-group > select.form-control {
        background-position: 420px 13px;
    }

    .userprofile-profile-form .form-group > select#user-phone-no-code {
        background-position: 60px 13px;
    }

    .userprofile-profile-form .form-group > input#user-DOB {
        background-position: 420px 8px;
    }

    /* Home page */
    #img-overlay #overlay-content {
        position: absolute;
        top: 130px;
        left: 100px;
    }

    /* Search Page*/
    #searchbar-2 div > select.form-control {
        width: 165px;
        margin-bottom: 20px;
    }

    #search-notes-bar {
        height: 240px;
    }

    /* Note Detail Page*/
    #nd-note-img img {
        width: 200px;
    }

    #nd-note-description {
        padding-right: 30px;
    }

    #nd-note-preview embed {
        height: 410px;
        width: 100%;
    }

    /* DashBoard */
    #dashboard-earning-title h5 {
        font-size: 18px;
        line-height: 20px;
    }

    .dashboard-info-card .dashboard-info-card-head h3 {
        font-size: 20px;
        line-height: 24px;
    }

    .dashboard-info-card .dashboard-info-card-head h3 > a {
        font-size: 20px;
        line-height: 24px;
    }

    .dashboard-info-card .dashboard-info-card-p p {
        font-size: 14px;
        line-height: 18px;
    }

    /* Add Notes */
    .addnote-notedetail-form .form-group > select.form-control,
    .addnote-institute-info-form .form-group > select.form-control {
        background-position: 420px 13px;
    }

    /* Tables */
    #mydownloads-notes-info tr > td > div.action-img,
    #mysold-notes-info tr > td > div.action-img,
    #buyerrequest-notes-info tr > td > div.action-img,
    #myrejected-notes-info tr > td > div.action-img {
        width: 40px;
        display: inline-flex;
        margin: 0 5px;
        ;
    }

    /* FAQ page */
    #faq-top-img img,
    #contactus-top-img img {
        width: 100%;
        height: 200px;
        margin-top: 76px;
    }

}

/* Small Devices (Portrait Tablets & Small Desktops) */

@media (min-width: 768px) and (max-width: 991px) {

    /*login page*/
    #login-top-logo {
        margin-top: 50%;
    }

    #forgot-password #fp-top-logo {
        margin-top: 70%;
    }

    #change-password-top-logo {
        margin-top: 40%;
    }

    #login-top-logo img,
    #fp-top-logo img,
    #change-password-top-logo img,
    #signup-top-logo img {
        width: 100%;
        height: 100%;
    }

    #login-box-white,
    #change-password-box-white {
        padding: 30px 20px;
    }

    #fp-box-white {
        padding: 30px;
    }

    #signup-box-white {
        padding: 20px;
    }

    #login-box-head h3,
    #fp-box-head h3,
    #change-password-box-head h3,
    #signup-box-head h3 {
        font-size: 30px;
        line-height: 32px;
    }

    #login-box-head p,
    #fp-box-head p,
    #change-password-box-head p,
    #signup-box-head p {
        margin-bottom: 20px;
        font-size: 13px;
        font-weight: 400;
        line-height: 15px;
    }

    #login-form .form-group label,
    #forgot-pass-form .form-group label,
    #change-password-form .form-group label,
    #signup-form .form-group label {
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 20px;
    }

    #signup-form .form-group label {
        margin-bottom: 0;
    }

    #login-form .form-group input::placeholder,
    #forgot-pass-form .form-group input::placeholder,
    #change-password-form .form-group input::placeholder,
    #signup-form .form-group input::placeholder {
        font-size: 14px;
        line-height: 20px;
    }

    #password-row a {
        font-size: 14px;
        line-height: 20px;
    }

    #login-btn a,
    #forgot-pass-submit-btn a,
    #change-password-submit-btn a,
    #signup-btn a {
        font-size: 14px;
        line-height: 24px;
    }

    #signup-link p,
    #login-link p {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        margin-bottom: 0;
    }

    /* Use Profile */
    .userprofile-profile-form .form-group > select.form-control,
    .userprofile-address-form .form-group > select.form-control {
        background-position: 300px 13px;
    }

    .userprofile-profile-form .form-group > select#user-phone-no-code {
        background-position: 60px 13px;
    }

    .userprofile-profile-form .form-group > input#user-DOB {
        background-position: 300px 8px;
    }

    /* Home Page */
    #img-overlay #overlay-content {
        position: absolute;
        top: 130px;
        left: 130px;
    }

    #overlay-content h1 {
        font-size: 30px;
        line-height: 40px;
    }

    #overlay-content p {
        font-size: 14px;
        line-height: 20px;
    }

    .horizontal-heading h2 {
        font-size: 26px;
        line-height: 32px;
    }

    .workdiv #work-down-btn {
        margin-top: 40px;
    }

    .customer-card .customer-img {
        padding-top: 20px;
    }

    .customer-card .customer-img img {
        width: 80px;
        height: 80px;
    }

    .customer-info .cutomer-name p {
        margin: 10px 0 0 10px;
    }

    .customer-info .cutomer-desg p {
        margin: 0px 0 0 10px;
    }

    /* Search Page*/
    #searchbar-2 div > select.form-control {
        width: 165px;
        margin-bottom: 20px;
    }

    #search-notes-bar {
        height: 240px;
    }

    .notes-card .notes-card-img img {
        width: 100%;
        height: 200px;
    }

    .notes-card .notes-card-content {
        padding: 10px;
    }

    .notes-card .notes-card-content h5 {
        height: 90px;
    }

    .notes-card .notes-card-content h5 > a {
        font-size: 14px;
        line-height: 18px;
    }

    .notes-card .notes-card-content .notes-card-content-details li i {
        font-size: 15px;
        width: 30px;
    }

    .notes-card .notes-card-content .notes-card-content-details li i.fa-flag {
        font-size: 15px;
        width: 30px;
    }

    .notes-card .notes-card-content .notes-card-content-details li span {
        font-size: 12px;
        line-height: 16px;
    }

    div.stars .star-review {
        font-size: 14px;
        padding: 0px;
    }

    /* Note Detail Page*/
    #nd-note-img img {
        width: 150px;
    }

    #nd-note-description {
        padding-right: 10px;
    }

    #nd-note-preview embed {
        height: 410px;
        width: 100%;
    }

    #nd-note-description #nd-note-description-head h5 {
        font-size: 22px;
    }

    #nd-note-description #nd-note-description-head p {
        font-size: 16px;
    }

    #nd-note-description-content p {
        font-size: 13px;
    }

    #nd-download-btn {
        width: 240px;
        height: 50px;
    }

    #nd-download-btn a {
        font-size: 14px;
    }

    .nd-note-info-table td.nd-note-info-table-row-1 {
        font-size: 14px;
        line-height: 26px;
    }

    .nd-note-info-table td.nd-note-info-table-row-2 {
        font-size: 14px;
        line-height: 26px;
    }

    .nd-note-info-table td > div.review > div.stars > div.star-review > span {
        font-size: 14px;
        line-height: 32px;
    }

    /* DashBoard */
    #dashboard-earning-img img {
        width: 40px;
        height: 40px;
    }

    #dashboard-earning-title h5 {
        font-size: 18px;
        line-height: 20px;
    }

    .dashboard-info-card .dashboard-info-card-head h3 {
        font-size: 18px;
        line-height: 24px;
    }

    .dashboard-info-card .dashboard-info-card-head h3 > a {
        font-size: 20px;
        line-height: 24px;
    }

    .dashboard-info-card .dashboard-info-card-p p {
        font-size: 14px;
        line-height: 18px;
    }

    .dash-search #search-inprogress-note,
    .mydownloads-search #search-downloaded-note,
    .mysoldnotes-search #search-mysold-note,
    .buyerrequest-search #search-buyerrequest-note,
    .myrejectednote-search #search-rejected-note {
        width: 200px;
    }

    /* Add Notes */
    .addnote-notedetail-form .form-group > select.form-control,
    .addnote-institute-info-form .form-group > select.form-control {
        background-position: 300px 13px;
    }

    /* Tables */
    #mydownloads-notes-info tr > td > div.action-img,
    #mysold-notes-info tr > td > div.action-img,
    #buyerrequest-notes-info tr > td > div.action-img,
    #myrejected-notes-info tr > td > div.action-img {
        width: 40px;
        display: inline-flex;
        margin: 0 5px;
        ;
    }

    /* FAQ page */
    #faq-top-img img,
    #contactus-top-img img {
        width: 100%;
        height: 200px;
        margin-top: 76px;
    }
}

/* Extra Small Devices (Landscape Phones & Portrait Tablets) */

@media (max-width: 767px) {

    /*login page*/
    #login-top-logo,
    #change-password-top-logo {
        margin-top: 15%;
    }

    #forgot-password #fp-top-logo {
        margin-top: 30%;
    }

    #login-box-white,
    #change-password-box-white,
    #fp-box-white {
        padding: 40px;
    }

    #login-box-head h3,
    #fp-box-head h3,
    #change-password-box-head h3 {
        font-size: 30px;
        line-height: 32px;
    }

    #login-box-head p,
    #fp-box-head p,
    #change-password-box-head p {
        margin-bottom: 20px;
        font-size: 13px;
        font-weight: 400;
        line-height: 15px;
    }

    #login-form .form-group label,
    #forgot-pass-form .form-group label,
    #change-password-form .form-group label {
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 20px;
    }

    #login-form .form-group input::placeholder,
    #forgot-pass-form .form-group input::placeholder,
    #change-password-form .form-group input::placeholder {
        font-size: 14px;
        line-height: 20px;
    }

    #password-row a {
        font-size: 14px;
        line-height: 20px;
    }

    #login-btn a,
    #forgot-pass-submit-btn a,
    #change-password-submit-btn a {
        font-size: 14px;
        line-height: 24px;
    }

    #signup-link p,
    #login-link p {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        margin-bottom: 0;
    }

    /* Use Profile */
    .userprofile-profile-form .form-group > select.form-control,
    .userprofile-address-form .form-group > select.form-control {
        background-position: 460px 13px;
    }

    .userprofile-profile-form .form-group > select#user-phone-no-code {
        background-position: 460px 13px;
    }

    .userprofile-profile-form .form-group > input#user-DOB {
        background-position: 460px 8px;
    }

    /* Home Page */
    #img-overlay #overlay-content {
        position: absolute;
        top: 130px;
        left: 130px;
    }

    #overlay-content h1 {
        font-size: 30px;
        line-height: 40px;
    }

    #overlay-content p {
        font-size: 14px;
        line-height: 20px;
    }

    .workdiv {
        padding-bottom: 20px;
        margin-bottom: 30px;
    }

    .customer-card .customer-img,
    .customer-info {
        text-align: center;
    }

    /* Search Page*/
    #searchbar-2 div > select.form-control {
        width: 167px;
        margin: 5px 20px;
    }

    #search-notes-bar {
        height: 280px;
    }

    /* Note Detail Page*/
    #nd-note-img img {
        width: 200px;
    }

    #nd-note-description {
        padding-right: 10px;
    }

    #nd-note-preview {
        margin-bottom: 50px;
    }

    #nd-customer-review .reviewer-info h6,
    #nd-customer-review .reviewer-info .reviewer-rating {
        text-align: center;
    }

    /* Dashboard */
    .dashboard-info-card {
        height: 140px;
        padding: 40px 0;
        margin-bottom: 10px;
    }

    #dashboard-earning-title h5 {
        font-size: 18px;
        line-height: 20px;
    }

    .dashboard-info-card .dashboard-info-card-head h3 {
        font-size: 18px;
        line-height: 24px;
    }

    .dashboard-info-card .dashboard-info-card-head h3 > a {
        font-size: 20px;
        line-height: 24px;
    }

    .dashboard-info-card .dashboard-info-card-p p {
        font-size: 14px;
        line-height: 18px;
    }

    .dash-head h3 {
        margin-bottom: 20px;
    }

    .my-text-right {
        text-align: left !important;
    }

    /* Add Notes */
    .addnote-notedetail-form .form-group > select.form-control,
    .addnote-institute-info-form .form-group > select.form-control {
        background-position: 480px 13px;
    }

    /* Tables */
    #mydownloads-notes-info tr > td > div.action-img,
    #mysold-notes-info tr > td > div.action-img,
    #buyerrequest-notes-info tr > td > div.action-img,
    #myrejected-notes-info tr > td > div.action-img {
        width: 40px;
        display: inline-flex;
        margin: 0 5px;
        ;
    }

    /* FAQ Page */
    #faq-top-img img,
    #contactus-top-img img {
        width: 100%;
        height: 200px;
        margin-top: 76px;
    }

    #faq-top-content h1 {
        font-size: 30px;
        line-height: 50px;
    }
}


@media (min-width: 481px) and (max-width: 576px) {
    .navbar-brand {
        padding-left: 20px;
    }

    /* Footer */
    .footer-line p {
        text-align: center;
    }

    footer ul {
        padding-left: 0;
        text-align: center;
    }

    /* Home Page */
    #img-overlay #overlay-content {
        top: 190px;
        left: 50px;
    }

    #overlay-content {
        width: 400px;
    }

    #overlay-content h1 {
        font-size: 28px;
        line-height: 32px;
    }

    #overlay-content p {
        font-size: 14px;
        line-height: 20px;
    }

    /* Search Page*/
    #searchbar-2 div > select.form-control {
        width: 160px;
        margin: 0px 20px;
    }

    #search-notes-bar {
        height: 280px;
    }

    /* Note Detail Page*/
    #nd-note-img img {
        width: 250px;
    }

    /* Thanks Modal */
    #thanksModal .modal-dialog {
        top: 100px;
        left: 20px;
        width: 450px;
    }

    /* Add Notes */
    .addnote-notedetail-form .form-group > select.form-control,
    .addnote-institute-info-form .form-group > select.form-control {
        background-position: 420px 13px;
    }

    /* My Downloads */
    #mydownloads-notes .text-right,
    #mysold-notes .text-right,
    #myrejected-notes .text-right,
    #buyerrequest-notes .text-right {
        text-align: left !important;
        margin-bottom: 20px;
    }

    /* FAQ Page */
    #faq-top-img img,
    #contactus-top-img img {
        width: 100%;
        height: 200px;
        margin-top: 76px;
    }

    #faq-top-content h1 {
        font-size: 25px;
        line-height: 50px;
    }

    .faq-general-question-title h2,
    .faq-uploader-title h2,
    .faq-downloader-title h2 {
        font-size: 20px;
    }

    #general-questions-QA .accordion .accordion-item,
    #uploaders-QA .accordion .accordion-item,
    #downloaders-QA .accordion .accordion-item {
        padding: 5px 10px;
    }

    .accordion-header > div:first-child {
        width: 70%;
    }

    .accordion-header > div#faq-add-btn {
        width: 30%;
    }

    #general-questions-QA .accordion .accordion-item .accordion-header h6,
    #uploaders-QA .accordion .accordion-item .accordion-header h6,
    #downloaders-QA .accordion .accordion-item .accordion-header h6 {
        padding-top: 10px;
        font-size: 14px;
        line-height: 20px;
    }

    #general-questions-QA .accordion-flush .accordion-item .accordion-header h6,
    #uploaders-QA .accordion-flush .accordion-item .accordion-header h6,
    #downloaders-QA .accordion-flush .accordion-item .accordion-header h6 {
        font-size: 14px;
        line-height: 20px;
    }

}

/* Extra Small Devices (Portrait Phones & Smaller Devices) */

@media (max-width: 480px) {
    .navbar-brand {
        padding-left: 20px;
    }

    /*login page*/
    #login-top-logo {
        margin-top: 15%;
    }

    #login-box-white {
        padding: 40px;
    }

    #login-box-head h3 {
        font-size: 30px;
        line-height: 32px;
    }

    #login-box-head p {
        margin-bottom: 20px;
        font-size: 13px;
        font-weight: 400;
        line-height: 15px;
    }

    #login-form .form-group label {
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 20px;
    }

    #login-form .form-group input::placeholder {
        font-size: 14px;
        line-height: 20px;
    }

    #password-row a {
        font-size: 14px;
        line-height: 20px;
    }

    #login-btn a {
        font-size: 14px;
        line-height: 24px;
    }

    #signup-link p,
    #login-link p {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        margin-bottom: 0;
    }

    /* Use Profile */
    .userprofile-profile-form .form-group > select.form-control,
    .userprofile-address-form .form-group > select.form-control {
        background-position: 400px 13px;
    }

    .userprofile-profile-form .form-group > select#user-phone-no-code {
        background-position: 400px 13px;
    }

    .userprofile-profile-form .form-group > input#user-DOB {
        background-position: 400px 8px;
    }

    /* Footer */
    .footer-line p {
        text-align: center;
    }

    footer ul {
        padding-left: 0;
        text-align: center;
    }

    /* Home Page */
    #img-overlay #overlay-content {
        top: 160px;
        left: 50px;
    }

    #work-heading {
        margin-bottom: 30px;
    }

    #overlay-content {
        width: 350px;
    }

    #overlay-content h1 {
        font-size: 28px;
        line-height: 32px;
    }

    #overlay-content p {
        font-size: 14px;
        line-height: 20px;
    }

    /* Search Page*/
    #searchbar-2 div > select.form-control {
        width: 160px;
        margin: 0px 10px;
    }

    #search-notes-bar {
        height: 280px;
    }

    /* Note Detail Page*/
    #nd-note-img img {
        width: 250px;
    }

    /* Thanks Modal */
    #thanksModal .modal-dialog {
        top: 150px;
        left: 15px;
        width: 370px;
    }

    #thanksModal .modal-content-inner {
        padding: 40px 10px 0px 5px;
    }

    /* Dashboard */
    #dashboard-info-header .text-right {
        text-align: left !important;
        margin-bottom: 10px;
    }

    .dashboard-info-card {
        height: 180px;
        padding: 40px 0;
        margin-bottom: 10px;
    }

    #dashboard-earning-title h5 {
        font-size: 18px;
        line-height: 20px;
    }

    .dashboard-info-card .dashboard-info-card-head h3 {
        font-size: 17px;
        line-height: 24px;
    }

    .dashboard-info-card .dashboard-info-card-head h3 > a {
        font-size: 20px;
        line-height: 24px;
    }

    .dashboard-info-card .dashboard-info-card-p p {
        font-size: 14px;
        line-height: 18px;
    }

    /* Add Notes */
    .addnote-notedetail-form .form-group > select.form-control,
    .addnote-institute-info-form .form-group > select.form-control {
        background-position: 320px 13px;
    }

    /* My Downloads */
    #mydownloads-notes .text-right,
    #mysold-notes .text-right,
    #myrejected-notes .text-right,
    #buyerrequest-notes .text-right {
        text-align: left !important;
        margin-bottom: 20px;
    }

    /* Add Review */
    #reviewModal .modal-content-inner {
        padding: 0 10px;
    }

    /* FAQ Page */
    #faq-top-img img #contactus-top-img img {
        width: 100%;
        height: 200px;
        margin-top: 76px;
    }

    #faq-top-content h1 {
        font-size: 22px;
        line-height: 50px;
    }

    #faq-general-question,
    #faq-uploaders,
    #faq-downloaders {
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .faq-general-question-title h2,
    .faq-uploader-title h2,
    .faq-downloader-title h2 {
        font-size: 20px;
    }

    #general-questions-QA .accordion .accordion-item,
    #uploaders-QA .accordion .accordion-item,
    #downloaders-QA .accordion .accordion-item {
        padding: 5px 10px;
    }

    .accordion-header > div:first-child {
        width: 70%;
    }

    .accordion-header > div#faq-add-btn {
        width: 30%;
    }

    #general-questions-QA .accordion .accordion-item .accordion-header h6,
    #uploaders-QA .accordion .accordion-item .accordion-header h6,
    #downloaders-QA .accordion .accordion-item .accordion-header h6 {
        padding-top: 10px;
        font-size: 14px;
        line-height: 20px;
    }

    #general-questions-QA .accordion-flush .accordion-item .accordion-header h6,
    #uploaders-QA .accordion-flush .accordion-item .accordion-header h6,
    #downloaders-QA .accordion-flush .accordion-item .accordion-header h6 {
        font-size: 14px;
        line-height: 20px;
    }

    .accordion-body p {
        font-size: 13px;
    }
}

/* Extra Small Devices (Portrait Phones & Smaller Devices) */

@media (max-width: 320px) {
    .navbar-brand {
        padding-left: 10px;
    }

    /*login page*/
    #login-top-logo,
    #change-password-top-logo,
    #signup-top-logo {
        margin-top: 30%;
    }

    #forgot-password #fp-top-logo {
        margin-top: 50%;
    }

    #login-top-logo img,
    #fp-top-logo img,
    #change-password-top-logo img,
    #signup-top-logo img {
        width: 80%;
    }

    #login-box-white,
    #fp-box-white,
    #change-password-box-white {
        padding: 20px 20px;
        border-radius: 3px;
    }

    #signup-box-white {
        padding: 20px 10px;
    }

    #login-box-head h3,
    #fp-box-head h3,
    #change-password-box-head h3,
    #signup-box-head h3 {
        font-size: 28px;
        line-height: 30px;
    }

    #login-box-head p,
    #fp-box-head p,
    #change-password-box-head p,
    #signup-box-head p {
        margin-bottom: 20px;
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
    }

    #login-form .form-group label,
    #forgot-pass-form .form-group label,
    #change-password-form .form-group label,
    #signup-form .form-group label {
        margin-bottom: 5px;
        font-size: 13px;
        line-height: 20px;
    }

    #login-form .form-group input::placeholder,
    #forgot-pass-form .form-group input::placeholder,
    #change-password-form .form-group input::placeholder,
    #signup-form .form-group input::placeholder {
        font-size: 13px;
        line-height: 20px;
    }

    #password-row a {
        font-size: 13px;
        line-height: 20px;
    }

    #login-btn a,
    #forgot-pass-submit-btn a,
    #change-password-submit-btn a,
    #signup-btn a {
        font-size: 13px;
        line-height: 20px;
    }

    #signup-link p,
    #login-link p {
        font-size: 13px;
        font-weight: 400;
        line-height: 20px;
        margin-bottom: 0;
    }

    /* Home Page */
    #img-overlay #overlay-content {
        top: 160px;
        left: 10px;
    }

    #work-heading {
        margin-bottom: 30px;
    }

    #overlay-content {
        width: 300px;
    }

    #overlay-content h1 {
        font-size: 28px;
        line-height: 32px;
    }

    #overlay-content p {
        font-size: 14px;
        line-height: 20px;
    }

    /* Search Page*/
    #searchbar-2 div > select.form-control {
        width: 170px;
        margin: 0px 20px;
    }

    #search-notes-bar {
        height: 450px;
    }

    .notes-card .notes-card-content h5 {
        height: 70px;
    }

    /* Thanks Modal */
    #thanksModal .modal-dialog {
        top: 100px;
        left: 0px;
        width: 310px;
    }

    #thanksModal .modal-content-inner {
        padding: 40px 10px 0px 5px;
    }

    /* Add Notes */
    .addnote-notedetail-form .form-group > select.form-control,
    .addnote-institute-info-form .form-group > select.form-control {
        background-position: 260px 13px;
    }

    /* Add Review */
    #reviewModal .modal-content-inner {
        padding: 0 5px;
    }

    /* FAQ Page */
    .accordion-header > div:first-child {
        width: 80%;
    }

    .accordion-header > div#faq-add-btn {
        width: 20%;
    }

    #general-questions-QA .accordion .accordion-item .accordion-header h6,
    #uploaders-QA .accordion .accordion-item .accordion-header h6,
    #downloaders-QA .accordion .accordion-item .accordion-header h6 {
        padding-top: 10px;
        font-size: 13px;
        line-height: 20px;
    }

    #general-questions-QA .accordion-flush .accordion-item .accordion-header h6,
    #uploaders-QA .accordion-flush .accordion-item .accordion-header h6,
    #downloaders-QA .accordion-flush .accordion-item .accordion-header h6 {
        font-size: 13px;
        line-height: 20px;
    }

    .accordion-body p {
        font-size: 12px;
    }
}